<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">


      <div class="footer-col footer-col-1">
	      <p>Last modified: {{ site.time | date: '%Y-%m-%d' }}</p>
      </div>

      <div class="footer-col footer-col-2">
        <div></div>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description -}}</p>
      </div>

    </div>

  </div>

</footer>
