<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    {%- if page_paths -%}
      <nav class="site-nav">
				<ul>
          {%- for item in site.data.navigation -%}
					<li><a class="page-link" href="{{ item.url }}"{% if item.tooltip %} title="{{item.tooltip}}"{% endif %}>{{ item.title }}</a></li>
          {%- endfor -%}
				<ul>
      </nav>
    {%- endif -%}
  </div>
</header>
