<ul class="social-media-list">
  {%- if site.orcid_username -%}<li><a href="https://orcid.org/{{ site.orcid_username| escape }}"><i class="ai ai-orcid ai-lg svg-icon"></i> <span class="username">{{ site.orcid_username | escape }}</span></a></li>{%- endif -%}
  {%- if site.semanticscholar_username -%}<li><a href="https://www.semanticscholar.org/author/{{ site.semanticscholar_username| escape }}"><i class="ai ai-semantic-scholar ai-lg svg-icon"></i> <span class="username">{{ site.semanticscholar_username | escape }}</span></a></li>{%- endif -%}
  {%- if site.googlescholar_username -%}<li><a href="https://scholar.google.com/citations?user={{ site.googlescholar_username| escape }}"><i class="ai ai-google-scholar ai-lg svg-icon"></i> <span class="username">{{ site.googlescholar_username | escape }}</span></a></li>{%- endif -%}
  {%- if site.researchgate_username -%}<li><a href="https://www.researchgate.net/profile/{{ site.researchgate_username| escape }}"><i class="ai ai-researchgate ai-lg svg-icon"></i> <span class="username">{{ site.researchgate_username | escape }}</span></a></li>{%- endif -%}
  {%- if site.dblp_username -%}<li><a href="https://dblp.uni-trier.de/pers/hd/p/{{ site.dblp_username| escape }}"><i class="ai ai-dblp ai-lg svg-icon"></i> <span class="username">{{ site.dblp_username | escape }}</span></a></li>{%- endif -%}
	{%- if site.gnd_username -%}<li><a href="http://d-nb.info/gnd/{{ site.gnd_username| escape }}"> GND: <span class="username">{{ site.gnd_username | escape }}</span></a></li>{%- endif -%}
  {%- if site.dribbble_username -%}<li><a href="https://dribbble.com/{{ site.dribbble_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#dribbble' | relative_url }}"></use></svg> <span class="username">{{ site.dribbble_username| escape }}</span></a></li>{%- endif -%}
  {%- if site.facebook_username -%}<li><a href="https://www.facebook.com/{{ site.facebook_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#facebook' | relative_url }}"></use></svg> <span class="username">{{ site.facebook_username| escape }}</span></a></li>{%- endif -%}
  {%- if site.flickr_username -%}<li><a href="https://www.flickr.com/photos/{{ site.flickr_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#flickr' | relative_url }}"></use></svg> <span class="username">{{ site.flickr_username| escape }}</span></a></li>{%- endif -%}
  {%- if site.github_username -%}<li><a href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> <span class="username">{{ site.github_username| escape }}</span></a></li>{%- endif -%}
  {%- if site.instagram_username -%}<li><a href="https://instagram.com/{{ site.instagram_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#instagram' | relative_url }}"></use></svg> <span class="username">{{ site.instagram_username| escape }}</span></a></li>{%- endif -%}
  {%- if site.linkedin_username -%}<li><a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}" data-proofer-ignore><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg> <span class="username">{{ site.linkedin_username| escape }}</span></a></li>{%- endif -%}
  {%- if site.pinterest_username -%}<li><a href="https://www.pinterest.com/{{ site.pinterest_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#pinterest' | relative_url }}"></use></svg> <span class="username">{{ site.pinterest_username| escape }}</span></a></li>{%- endif -%}
  {%- if site.mastodon.username and site.mastodon.instance -%}<li><a rel="me" href="https://{{ site.mastodon.instance| cgi_escape | escape}}/@{{site.mastodon.username}}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#mastodon' | relative_url }}"></use></svg> <span class="username">@{{ site.mastodon.username| escape }}@{{ site.mastodon.instance| escape }}</span></a></li>{%- endif -%}
  {%- if site.twitter_username -%}<li><a href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg> <span class="username">@{{ site.twitter_username| escape }}</span></a></li>{%- endif -%}
  {%- if site.youtube_username -%}<li><a href="https://youtube.com/{{ site.youtube_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#youtube' | relative_url }}"></use></svg> <span class="username">{{ site.youtube_username| escape }}</span></a></li>{%- endif -%}
  {%- if site.googleplus_username -%}<li><a href="https://plus.google.com/{{ site.googleplus_username| escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#googleplus' | relative_url }}"></use></svg> <span class="username">{{ site.googleplus_username| escape }}</span></a></li>{%- endif -%}
  {%- if site.rss -%}<li><a href="{{ 'feed.xml' | relative_url }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg> <span>{{ site.rss | escape }}</span></a></li>{%- endif -%}
</ul>
