/* Override minima header */
.site-header {
	border-top: 0px;
}
.feed-subscribe .svg-icon {
  padding: 5px 5px 5px 0;
}
/* Override minima nav */
.site-nav {
  position: static;
  li {
     list-style: none;
  }
@media screen and (min-width: $on-medium) {
  ul {
      margin: 0;
      padding: 0;
  }
  li {
      float: left;
      padding: 0;
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}
.footer-col-1 {
  width: calc(100% - (#{$spacing-unit} / 2));
}
@media screen and (min-width: $on-large){
  .footer-col-1 {
    width: calc(35% - (#{$spacing-unit} / 2));
  }
  .footer-col-2 {
    width: calc(0% - (#{$spacing-unit} / 2));
  }
  .footer-col-3 {
    width: calc(65% - (#{$spacing-unit} / 2));
  }
}
/**
 * publications
 */
.publication {
	margin-bottom: 20px;
	span.booktitle {
		  font-style: italic;
		}
	span.status {
		  font-style: italic;
		}
	span.title {
		  font-weight: bold;
		}
	span.journal {
		  font-style: italic;
		}
}
/* logo */
.logo {
	max-width: 100px;
	max-height: 50px;
	padding: 10px;
      }
.profile-pic {
	float: left;
	margin: 0px 10px 10px 0px;
	padding: 0;
	max-width: 100%;
	height: auto;
     }
