---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

	<div class="post-content">
  {{ content }}
	</div>

	<hr/>

  {%- if site.posts.size > 0 -%}
  <h2><a href="/news">{{ page.list_title | default: "News" }}</a></h2>
	<h3><div class="feed-subscribe"><a href="/feed.xml"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"/></svg> Atom feed</a></div></h3>
    <ul class="post-list">
      {%- for post in site.posts limit: 3 -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          {{ post.title | escape }}
        </h3>
        {{ post.excerpt | markdownify }}
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>
