---
layout: default
---

<h1>Citation</h1>

<p>
<div class="publication">
<div class="bibentry">
  {% include pub/{{page.type}}.html p=page %}
</div>
</p>

{% if page.doi or page.iurl or page.downloads %}
<h2>Downloads</h2>
  <ul>
		{% if page.doi %}
		<li><a href="http://dx.doi.org/{{page.doi}}">doi</a></li>
		{% endif %}
		{% if page.iurl %}
		<li><a href="{{page.iurl}}">paper</a></li>
		{% endif %}
    {% for d in page.downloads %}
    <li><a href="{{d.url}}">{{d.desc}}</a></li>
    {% endfor %}
  </ul>
{% endif %}

{{ content }}

<h2>BibTeX</h2>
<pre>{% include pub/bibtex.html pub=page %}</pre>

<h2>RIS</h2>
<pre>{% include pub/ris.html pub=page %}</pre>

</div>
