<span class="author">{{ include.p.author | join: ", " }}</span>. <span class="title">{{ include.p.title }}</span>. Bachelor's thesis, <span class="journal">{{ include.p.school }}</span>, <span class="year">{{ include.p.year }}</span>{% if include.p.status %}, (<span class="status">{{ include.p.status }}</span>){% endif %}.
